button {
    display: block;
}

.box {
    display: none;
    border: 1px dotted grey;
    padding: 10px;
}

.users {
    max-width: 200px;
    padding: 10px;
    border: 1px dotted grey;
    display: inline-grid;
}

img {
    display: block;
}